Repository time-series-machine-learning/tsml-eval, pull requests merged in 2023-12, with the labels that each got.

#148 [ENH] Add deep learners, refactor MR-Hydra
  tsml_eval/_wip/clustering/averaging/results.ipynb
  tsml_eval/_wip/results_summary.py
  tsml_eval/estimators/classification/convolution_based/__init__.py
  tsml_eval/estimators/classification/convolution_based/hydra.py
  tsml_eval/experiments/set_classifier.py
  tsml_eval/publications/y2023/tsc_bakeoff/set_bakeoff_classifier.py
  tsml_eval/publications/y2023/tsc_bakeoff/tsc_bakeoff_2023.ipynb
Labels: enhancement

#145 `_wip` tidy and simple coverage improvements
  .codecov.yml
  .github/workflows/examples.yml
  .github/workflows/pr_opened.yml
  .pre-commit-config.yaml
  MANIFEST.in
  build_tools/pr_labeler.py
  build_tools/pr_open_commenter.py
  build_tools/run_examples.sh
  pyproject.toml
  tsml_eval/_wip/clustering/averaging/_result_evaluation.py
  tsml_eval/_wip/clustering/averaging/clustering_averaging_experiments.sh
  tsml_eval/_wip/clustering/averaging/results.ipynb
  tsml_eval/_wip/clustering/averaging/test_experiment.py
  tsml_eval/_wip/clustering/kmeans-distances/kmeans-distance-experiment.sh
  tsml_eval/_wip/clustering/kmeans-distances/test_experiment.py
  tsml_eval/_wip/dilation_muse/__init__.py
  tsml_eval/_wip/dilation_muse/muse.py
  tsml_eval/_wip/dilation_muse/sfa_dilation.py
  tsml_eval/_wip/evaluation/__init__.py
  tsml_eval/_wip/evaluation/_bulit_in_evaluation.py
  tsml_eval/_wip/evaluation/_result_evaluation.py
  tsml_eval/_wip/evaluation/_utils.py
  tsml_eval/_wip/evaluation/diagrams/__init__.py
  tsml_eval/_wip/evaluation/diagrams/_critical_difference_diagram.py
  tsml_eval/_wip/evaluation/diagrams/_scatter_diagrams.py
  tsml_eval/_wip/evaluation/diagrams/_utils.py
  tsml_eval/_wip/evaluation/diagrams/tests/__init__.py
  tsml_eval/_wip/evaluation/diagrams/tests/test_diagrams.py
  tsml_eval/_wip/evaluation/eval_results.py
  tsml_eval/_wip/evaluation/tests/__init__.py
  tsml_eval/_wip/evaluation/tests/test_result_evaluation.py
  tsml_eval/_wip/evaluation/tests/test_utils.py
  tsml_eval/_wip/experiments/__init__.py
  tsml_eval/_wip/experiments/classification_examples.py
  tsml_eval/_wip/hc2_regression/__init__.py
  tsml_eval/_wip/hc2_regression/arsenal.py
  tsml_eval/_wip/hc2_regression/hivecote_v2.py
  tsml_eval/_wip/hc2_regression/sfa.py
  tsml_eval/_wip/hc2_regression/shapelet_transform.py
  tsml_eval/_wip/hc2_regression/str.py
  tsml_eval/_wip/hc2_regression/tde.py
  tsml_eval/_wip/results/__init__.py
  tsml_eval/_wip/results/results_by_classifier.py
  tsml_eval/_wip/results/tests/__init__.py
  tsml_eval/_wip/results/tests/test_results_by_classifier.py
  tsml_eval/_wip/utils/__init__.py
  tsml_eval/_wip/utils/read_results.py
  tsml_eval/estimators/classification/convolution_based/hydra.py
  tsml_eval/estimators/classification/dictionary_based/__init__.py
  tsml_eval/estimators/classification/transformations/__init__.py
  tsml_eval/estimators/regression/column_ensemble.py
  tsml_eval/estimators/regression/convolution_based/__init__.py
  tsml_eval/estimators/regression/convolution_based/hydra.py
  tsml_eval/estimators/regression/dictionary_based/__init__.py
  tsml_eval/estimators/regression/hybrid/__init__.py
  tsml_eval/estimators/regression/shapelet_based/__init__.py
  tsml_eval/estimators/regression/transformations/__init__.py
  tsml_eval/experiments/set_classifier.py
  tsml_eval/experiments/set_regressor.py
  tsml_eval/testing/test_utils.py
Labels: enhancement, testing, refactor

#152 [BUG] DL imports
  tsml_eval/experiments/set_classifier.py
Labels: bug

#150 [ENH] Basic instructions for running on iridis
  _tsml_group_experiments/soton/clustering_experiments.sh
  _tsml_group_experiments/soton/todo.txt
  _tsml_group_experiments/soton/workflow_example.md
  _tsml_group_experiments/uea/ada/ada_python.md
  _tsml_group_experiments/uea/ada/workflow_example.md
  tsml_eval/_wip/experiments/collate_results.py
Labels: enhancement

#153 [ENH] Fixing issues and `aeon` update
  pyproject.toml
  tsml_eval/evaluation/multiple_estimator_evaluation.py
  tsml_eval/experiments/set_classifier.py
  tsml_eval/publications/y2023/distance_based_clustering/_tuning_functions.py
  tsml_eval/publications/y2023/distance_based_clustering/distance_based_clustering.ipynb
  tsml_eval/publications/y2023/distance_based_clustering/set_distance_clusterer.py
Labels: enhancement

#154 [ENH] Add option to output estimator attributes to file in experiments
  build_tools/pr_labeler.py
  conftest.py
  docs/api.md
  tsml_eval/experiments/classification_experiments.py
  tsml_eval/experiments/clustering_experiments.py
  tsml_eval/experiments/experiments.py
  tsml_eval/experiments/forecasting_experiments.py
  tsml_eval/experiments/regression_experiments.py
  tsml_eval/experiments/threaded_classification_experiments.py
  tsml_eval/experiments/threaded_clustering_experiments.py
  tsml_eval/experiments/threaded_forecasting_experiments.py
  tsml_eval/experiments/threaded_regression_experiments.py
  tsml_eval/utils/arguments.py
  tsml_eval/utils/experiments.py
  tsml_eval/utils/tests/test_attribute_writing.py
  tsml_eval/utils/tests/test_misc_experiments.py
Labels: enhancement, experiments

#155 Release v0.2.0
  MANIFEST.in
  README.md
  pyproject.toml
  tsml_eval/__init__.py
  tsml_eval/estimators/classification/hybrid/hivecote_from_file.py
  tsml_eval/estimators/classification/hybrid/tests/test_hivecote.py
  tsml_eval/estimators/clustering/consensus/tests/test_from_file_clustering.py
  tsml_eval/testing/_test_result_files/classification/Arsenal/Predictions/ArrowHead/testResample0.csv
  tsml_eval/testing/_test_result_files/classification/Arsenal/Predictions/ArrowHead/trainResample0.csv
  tsml_eval/testing/_test_result_files/classification/Arsenal/Predictions/ItalyPowerDemand/testResample0.csv
  tsml_eval/testing/_test_result_files/classification/Arsenal/Predictions/ItalyPowerDemand/trainResample0.csv
  tsml_eval/testing/_test_result_files/classification/DrCIF/Predictions/ArrowHead/testResample0.csv
  tsml_eval/testing/_test_result_files/classification/DrCIF/Predictions/ArrowHead/trainResample0.csv
  tsml_eval/testing/_test_result_files/classification/DrCIF/Predictions/ItalyPowerDemand/testResample0.csv
  tsml_eval/testing/_test_result_files/classification/DrCIF/Predictions/ItalyPowerDemand/trainResample0.csv
  tsml_eval/testing/_test_result_files/classification/STC/Predictions/ArrowHead/testResample0.csv
  tsml_eval/testing/_test_result_files/classification/STC/Predictions/ArrowHead/trainResample0.csv
  tsml_eval/testing/_test_result_files/classification/STC/Predictions/ItalyPowerDemand/testResample0.csv
  tsml_eval/testing/_test_result_files/classification/STC/Predictions/ItalyPowerDemand/trainResample0.csv
  tsml_eval/testing/_test_result_files/classification/TDE/Predictions/ArrowHead/testResample0.csv
  tsml_eval/testing/_test_result_files/classification/TDE/Predictions/ArrowHead/trainResample0.csv
  tsml_eval/testing/_test_result_files/classification/TDE/Predictions/ItalyPowerDemand/testResample0.csv
  tsml_eval/testing/_test_result_files/classification/TDE/Predictions/ItalyPowerDemand/trainResample0.csv
  tsml_eval/testing/_test_result_files/classification/TestResults/Test1/testResample0.csv
  tsml_eval/testing/_test_result_files/classification/TestResults/Test1/trainResample0.csv
  tsml_eval/testing/_test_result_files/classification/TestResults/Test2/testResample0.csv
  tsml_eval/testing/_test_result_files/classification/TestResults/Test2/trainResample0.csv
  tsml_eval/testing/_test_result_files/clustering/PAM-DTW/Predictions/ArrowHead/testResample0.csv
  tsml_eval/testing/_test_result_files/clustering/PAM-DTW/Predictions/ArrowHead/trainResample0.csv
  tsml_eval/testing/_test_result_files/clustering/PAM-ERP/Predictions/ArrowHead/testResample0.csv
  tsml_eval/testing/_test_result_files/clustering/PAM-ERP/Predictions/ArrowHead/trainResample0.csv
  tsml_eval/testing/_test_result_files/clustering/PAM-MSM/Predictions/ArrowHead/testResample0.csv
  tsml_eval/testing/_test_result_files/clustering/PAM-MSM/Predictions/ArrowHead/trainResample0.csv
Labels: maintenance, release

#164 [DOC] Improve publication documentation and general examples
  build_tools/run_examples.sh
  conftest.py
  docs/api.md
  docs/index.md
  docs/publications.md
  docs/user_guide.md
  examples/classification_experiments.ipynb
  examples/clustering_experiments.ipynb
  examples/evaluation.ipynb
  examples/forecasting_experiments.ipynb
  examples/regression_experiments.ipynb
  examples/results_format.ipynb
  pyproject.toml
  tsml_eval/experiments/__init__.py
  tsml_eval/experiments/classification_experiments.py
  tsml_eval/experiments/clustering_experiments.py
  tsml_eval/experiments/experiments.py
  tsml_eval/experiments/forecasting_experiments.py
  tsml_eval/experiments/regression_experiments.py
  tsml_eval/experiments/set_classifier.py
  tsml_eval/experiments/set_clusterer.py
  tsml_eval/experiments/set_forecaster.py
  tsml_eval/experiments/set_regressor.py
  tsml_eval/experiments/tests/test_classification.py
  tsml_eval/experiments/tests/test_clustering.py
  tsml_eval/experiments/tests/test_forecasting.py
  tsml_eval/experiments/tests/test_regression.py
  tsml_eval/experiments/threaded_classification_experiments.py
  tsml_eval/experiments/threaded_clustering_experiments.py
  tsml_eval/experiments/threaded_forecasting_experiments.py
  tsml_eval/experiments/threaded_regression_experiments.py
  tsml_eval/publications/y2023/distance_based_clustering/run_distance_experiments.py
  tsml_eval/publications/y2023/rist_pipeline/run_classification_experiments.py
  tsml_eval/publications/y2023/rist_pipeline/run_regression_experiments.py
  tsml_eval/publications/y2023/tsc_bakeoff/run_experiments.py
  tsml_eval/publications/y2023/tsc_bakeoff/tsc_bakeoff_2023.ipynb
  tsml_eval/publications/y2023/tser_archive_expansion/run_experiments.py
  tsml_eval/publications/y2023/tser_archive_expansion/tser_archive_expansion.ipynb
  tsml_eval/utils/experiments.py
  tsml_eval/utils/tests/test_resampling.py
Labels: documentation, examples, publications

#159 [ENH] QUANT classifier
  tsml_eval/estimators/classification/convolution_based/_hydra_internal.py
  tsml_eval/estimators/classification/convolution_based/hydra.py
  tsml_eval/estimators/classification/feature_based/__init__.py
  tsml_eval/estimators/classification/feature_based/quant.py
Labels: enhancement, estimators

#158 [ENH] GRAIL classifier
  pyproject.toml
  tsml_eval/estimators/classification/feature_based/grail.py
Labels: enhancement, estimators
