Repository time-series-machine-learning/tsml-eval, pull requests merged in 2024-06, with the labels that each got.

#227 Add tests to check if aeon estimators are present in estimator selectors
  tsml_eval/experiments/tests/test_classification.py
  tsml_eval/experiments/tests/test_clustering.py
  tsml_eval/experiments/tests/test_forecasting.py
  tsml_eval/experiments/tests/test_regression.py
Labels: experiments

#228 Remove unused evaluation files and update API
  docs/api.md
  examples/clustering_experiments.ipynb
  tsml_eval/estimators/classification/hybrid/__init__.py
  tsml_eval/estimators/clustering/consensus/__init__.py
  tsml_eval/evaluation/efficiency_benchmark.py
  tsml_eval/evaluation/metrics.py
  tsml_eval/evaluation/storage/clusterer_results.py
  tsml_eval/evaluation/tests/test_metrics.py
  tsml_eval/experiments/experiments.py
  tsml_eval/publications/y2023/distance_based_clustering/distance_based_clustering.ipynb
  tsml_eval/utils/publications.py
Labels: experiments, evaluation, estimators

#229 [MNT] Update workflows
  .github/actions/numba_cache/action.yml
  .github/workflows/issue_comment_edited.yml
  .github/workflows/issue_comment_posted.yml
  .github/workflows/periodic_github_maintenace.yml
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_examples.yml
  .github/workflows/pr_opened.yml
  .github/workflows/pr_pre_commit.yml
  .github/workflows/pr_pytest.yml
  .github/workflows/precommit_autoupdate.yml
  .github/workflows/release.yml
  build_tools/comment_pr_labeler.py
  build_tools/issue_assign.py
  build_tools/pr_labeler.py
  build_tools/pr_open_commenter.py
  build_tools/run_examples.sh
  tsml_eval/testing/_cicd_numba_caching.py
  tsml_eval/testing/testing_config.py
Labels: maintenance, testing

#230 [MNT] Fix workflow cron schedule
  .github/workflows/periodic_github_maintenace.yml
  build_tools/comment_pr_labeler.py
Labels: maintenance

#231 [MNT] Another workflow fix
  .github/workflows/periodic_tests.yml
Labels: maintenance

#232 [ENH] Cross-validation experiment functions
  .github/workflows/pr_pytest.yml
  build_tools/comment_pr_labeler.py
  build_tools/pr_open_commenter.py
  docs/api.md
  tsml_eval/experiments/__init__.py
  tsml_eval/experiments/cross_validation.py
  tsml_eval/experiments/experiments.py
  tsml_eval/experiments/tests/test_cross_validation.py
  tsml_eval/utils/experiments.py
Labels: enhancement, experiments

#234 [ENH] Add new BA models to clustering experiments
  tsml_eval/experiments/experiments.py
  tsml_eval/experiments/set_clusterer.py
Labels: enhancement, experiments

#241 [ENH,REF] `utils` refactor
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_pre_commit.yml
  .github/workflows/pr_pytest.yml
  .github/workflows/release.yml
  docs/api.md
  pyproject.toml
  tsml_eval/evaluation/storage/classifier_results.py
  tsml_eval/evaluation/storage/clusterer_results.py
  tsml_eval/evaluation/storage/forecaster_results.py
  tsml_eval/evaluation/storage/regressor_results.py
  tsml_eval/evaluation/storage/tests/test_io.py
  tsml_eval/experiments/experiments.py
  tsml_eval/experiments/set_clusterer.py
  tsml_eval/publications/y2023/tsc_bakeoff/tsc_bakeoff_2023.ipynb
  tsml_eval/publications/y2023/tser_archive_expansion/tser_archive_expansion.ipynb
  tsml_eval/utils/datasets.py
  tsml_eval/utils/estimator_validation.py
  tsml_eval/utils/experiments.py
  tsml_eval/utils/resampling.py
  tsml_eval/utils/results_repair.py
  tsml_eval/utils/results_validation.py
  tsml_eval/utils/results_writing.py
  tsml_eval/utils/tests/test_arguments.py
  tsml_eval/utils/tests/test_attribute_writing.py
  tsml_eval/utils/tests/test_dataset.py
  tsml_eval/utils/tests/test_estimator_validation.py
  tsml_eval/utils/tests/test_experiments.py
  tsml_eval/utils/tests/test_misc_experiments.py
  tsml_eval/utils/tests/test_resampling.py
  tsml_eval/utils/tests/test_results_repair.py
  tsml_eval/utils/tests/test_results_validation.py
  tsml_eval/utils/tests/test_results_writing.py
Labels: enhancement, refactor

#242 [DOC] Docs tidy and config
  docs/_static/tsml-black.png
  docs/_static/tsml-white.png
  docs/api.md
  docs/conf.py
  docs/images/wip.png
  docs/index.md
  examples/classification_experiments.ipynb
  examples/clustering_experiments.ipynb
  examples/datasets.ipynb
  examples/evaluation.ipynb
  examples/forecasting_experiments.ipynb
  examples/regression_experiments.ipynb
  examples/results_format.ipynb
  tsml_eval/utils/publications.py
Labels: documentation, examples

#244 Release v0.4.0 and drop Python 3.8
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_pytest.yml
  MANIFEST.in
  README.md
  pyproject.toml
  tsml_eval/__init__.py
Labels: maintenance, release

#246 [ENH] WIP area for forecasting
  tsml_eval/_wip/forecasting/__init__.py
  tsml_eval/_wip/forecasting/exponential_smoothing.py
Labels: enhancement
