Repository time-series-machine-learning/tsml-eval, pull requests merged in 2024-01, with the labels that each got.

#165 [ENH] some utility code for collating results
  tsml_eval/_wip/experiments/collate_results.py
  tsml_eval/_wip/results_summary.py
Labels: enhancement

#166 Bakeoff resubmission experiments branch
  .github/workflows/examples.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  examples/evaluation.ipynb
  pyproject.toml
  tsml_eval/estimators/classification/__init__.py
  tsml_eval/estimators/classification/convolution_based/__init__.py
  tsml_eval/estimators/classification/hybrid/__init__.py
  tsml_eval/estimators/classification/hybrid/tests/__init__.py
  tsml_eval/estimators/clustering/__init__.py
  tsml_eval/estimators/clustering/consensus/__init__.py
  tsml_eval/estimators/clustering/consensus/ivc.py
  tsml_eval/estimators/clustering/consensus/ivc_from_file.py
  tsml_eval/estimators/clustering/consensus/simple_vote.py
  tsml_eval/estimators/clustering/consensus/simple_vote_from_file.py
  tsml_eval/estimators/clustering/consensus/tests/__init__.py
  tsml_eval/estimators/regression/__init__.py
  tsml_eval/estimators/regression/convolution_based/hydra.py
  tsml_eval/estimators/tests/__init__.py
  tsml_eval/evaluation/multiple_estimator_evaluation.py
  tsml_eval/evaluation/storage/classifier_results.py
  tsml_eval/evaluation/storage/clusterer_results.py
  tsml_eval/evaluation/storage/forecaster_results.py
  tsml_eval/evaluation/storage/regressor_results.py
  tsml_eval/evaluation/storage/tests/test_io.py
  tsml_eval/experiments/set_classifier.py
  tsml_eval/testing/_test_result_files/classification/javaResultsFile.csv
  tsml_eval/utils/validation.py
Labels: experiments, evaluation

#172 RIST in set_classifier and set_regressor
  _tsml_research_resources/uea/ada/ada_python.md
  build_tools/pr_open_commenter.py
  tsml_eval/experiments/set_classifier.py
  tsml_eval/experiments/set_regressor.py
Labels: enhancement, experiments, tsml research resources

#178 [BUG] GRAIL fix and some coverage
  tsml_eval/estimators/classification/feature_based/grail.py
  tsml_eval/testing/tests/test_test_utils.py
  tsml_eval/utils/functions.py
  tsml_eval/utils/memory_recorder.py
  tsml_eval/utils/tests/test_functions.py
Labels: bug, testing, estimators

#181 [MNT] Only rerun on crashes
  pyproject.toml
  tsml_eval/utils/memory_recorder.py
Labels: maintenance, testing
