Repository time-series-machine-learning/tsml-eval, pull requests merged in 2025-02, with the labels that each got.

#326 Fixes and more unequal length junk
  tsml_eval/_wip/unequal_length/_drcif.py
  tsml_eval/_wip/unequal_length/_tde.py
  tsml_eval/_wip/unequal_length/other/_periodogram.py
  tsml_eval/_wip/unequal_length/other/_random_intervals.py
  tsml_eval/_wip/unequal_length/other/_sfa.py
  tsml_eval/_wip/unequal_length/other/base_interval_forest.py
  tsml_eval/_wip/unequal_length/tests/test_aeon.py
  tsml_eval/evaluation/multiple_estimator_evaluation.py
  tsml_eval/evaluation/storage/classifier_results.py
  tsml_eval/experiments/_get_classifier.py
  tsml_eval/experiments/_get_data_transform.py
Labels: experiments, evaluation

#331 Include estimator class in results files and better testing for get_estimator methods
  pyproject.toml
  tsml_eval/experiments/_get_clusterer.py
  tsml_eval/experiments/experiments.py
  tsml_eval/experiments/tests/test_classification.py
  tsml_eval/experiments/tests/test_clustering.py
  tsml_eval/experiments/tests/test_data_transform.py
  tsml_eval/experiments/tests/test_regression.py
  tsml_eval/publications/y2023/distance_based_clustering/tests/test_set_distance_clusterer.py
  tsml_eval/publications/y2023/rist_pipeline/tests/test_set_estimator.py
  tsml_eval/publications/y2023/tsc_bakeoff/tests/test_set_classifier.py
  tsml_eval/publications/y2023/tser_archive_expansion/tests/test_set_regressor.py
  tsml_eval/testing/testing_utils.py
  tsml_eval/testing/tests/test_testing_utils.py
  tsml_eval/utils/results_writing.py
Labels: testing, experiments, publications

#332 [ENH} add mrhydra option
  tsml_eval/experiments/_get_classifier.py
Labels: enhancement, experiments

#340 Serial experiment script update
  _tsml_research_resources/soton/iridis/README.md
  _tsml_research_resources/soton/iridis/serial_scripts/classification_experiments.sh
  _tsml_research_resources/soton/iridis/serial_scripts/clustering_experiments.sh
  _tsml_research_resources/soton/iridis/serial_scripts/gpu_classification_experiments.sh
  _tsml_research_resources/soton/iridis/serial_scripts/gpu_clustering_experiments.sh
  _tsml_research_resources/soton/iridis/serial_scripts/gpu_regression_experiments.sh
  _tsml_research_resources/soton/iridis/serial_scripts/regression_experiments.sh
  _tsml_research_resources/uea/ada/classification_experiments.sh
  _tsml_research_resources/uea/ada/clustering_experiments.sh
  _tsml_research_resources/uea/ada/gpu_classification_experiments.sh
  _tsml_research_resources/uea/ada/gpu_clustering_experiments.sh
  _tsml_research_resources/uea/ada/gpu_regression_experiments.sh
  _tsml_research_resources/uea/ada/regression_experiments.sh
  tsml_eval/estimators/classification/hybrid/hivecote_from_file.py
Labels: estimators, tsml research resources
